[metadata]
icon = "mdi:web-box"
name = "MkIFrame"

[examples.with_caption]
title = "With caption"
jinja = """
{{ "https://phil65.github.io/mknodes/" | MkIFrame(width=600, height=800) }}
"""

[output.html]
template = """
<iframe frameborder="0" width="{{ node.width }}" height="{{ node.height }}" src="{{ node.url }}"></iframe>
"""
