[metadata]
icon = "mdi:format-header-pound"
name = "MkHeader"
group = "base"

[examples.regular]
title = "Regular"
jinja = """
{{ "Header with level 2" | MkHeader(level=2) }}
"""

[examples.header_levels]
title = "Header levels"
jinja = """
{% for i in range(1, 7) %}

{{ ("Header level " ~ i) | MkHeader(level=i) }}

{% endfor %}
"""

[output.markdown]
template = """
{{ "#" * node.level }} {{ node.get_text() }}{% if node.exclude_from_search %} { data-search-exclude }{% endif %}
"""

# [output.html]
# template = """
# <h{{ node.level }}>{{ node.get_text() }}</h{{ node.level }}>
# """

[output.rst]
template = """
{% set line = {1: '#' , 2: '*' , 3: '=' , 4: '-' , 5: '^' , 6: '"' }[node.level] * (node.get_text() | length) %}
{{ line }}
{{ node.get_text() }}
{{ line }}
"""
