[metadata]
icon = "mdi:format-header-pound"

[examples.regular]
title = "Regular"
jinja = """
{{ "Header with level 2" | MkHeader(level=2) | MkReprRawRendered }}
"""

[examples.header_levels]
title = "Header levels"
jinja = """
{% for i in range(1, 7) %}

{{ ("Header level " ~ i) | MkHeader(level=i) }}

{% endfor %}
"""

[output.markdown]
template = """
{{ "#" * node.level }} {{ node.text }}{% if node.exclude_from_search %} { data-search-exclude }{% endif %}
"""
