Build process

- Clone repository (in case it is a remote one)
- Aggregate information about repository from

  - metadata.Distribution
  - PyProject File
  - MkDocs Config file
  - Other config-related files
  - Git info (aquired from GitPython)
  - GitHub info (using PyGitHub)

- Build node tree based on Build script / function
- Populate mknodes-specific Jinja environment with all collected metadata
- Render jinja stuff with our own environment on node level
- Convert node tree to a file folder structure containing markdown files (using literate-nav-style SUMMARY.md files to describe the hierarchy)
- Gather information from the nodes about required Extensions / CSS / JavaScript
- Merge node requirements with provided MkDocs config file
- Let MkDocs convert everything to HTML based on the composite config
