There can only be one....**Homepage**!

Homepage in this context means the front page, the page you land on when visiting the page.

There are basically two different types of Homepages, either detached or part of the menu.


## Regular homepages

The first (and more popular) option is to make a "regular" menu item your homepage. To achieve this, set `is_homepage` to True in the [MkPage][mknodes.MkPage] constructor for the page you want to become your homepage.

**Example 1**: setting `is_homepage` via constructor

``` py
sub_nav = root_nav.add_nav("My child nav")
# first we create an MkPage with is_homepage set to True
my_homepage = mk.MkPage("My first Homepage", is_homepage=True)
# Then we add it to any given MkNav.
sub_nav += my_homepage
```
`my_homepage` is now both the homepage and a child page from `sub_nav`.


Alternatively, in case you use the routing decorators:
with the same effect, you can set `is_homepage` to True for the decorator keyword argument.

**Example 2**: setting `is_homepage` via decorator

``` py
nav = root_nav.get_nav("My child nav")

@nav.route.page("My first Homepage", is_homepage=True)
def _(page: mk.MkPage):
    page += ...
    ...
```
Same as in the previous example, `my_homepage` is both a homepage and a regular page as part of the site navigation.


## Detached Homepages

A detached homepage is not part of the navigation (and it's probably also excluded from search). How you can reach it (and perhaps even IF you can reach it) depends on the theme used.
In the case of **MkDocs-Material**, a detached homepage can only be reached via the top left icon.

To set a detached homepage, simply set an index page for the root nav.

``` py
page = root_nav.add_index_page()
...
```


The first approach is much more common when it comes to **MkDocs** themes and is also probably the "proper" way to do it, but I guess the detached option is still worth mentioning.

In general, there is nothing really special about the homepage. If you want to make it "special" appearance-wise, then using [page templates](Templates.md) is the way to go.

??? tip
    If you want to have "Section Pages" by using the plugin [mkdocs-section-index](https://github.com/oprypin/mkdocs-section-index), then using `set_index_page` is the correct way to do it. The `is_homepage` keyword argument is only meant for the *root* `index.md`, not for the *section* `index.mds`.
