An MkMkodulePage is an MkPage subclass used to display information
about a specific module. It uses a Jinja template to display the module-related
information. By default, the Docstrings and tables showing the contained classes and
submodules. The template can be adjusted manually in case a different layout is
preferred.


This is an example for an MkModulePage with the default layout:


{{ example_module | MkModulePage(inclusion_level=False) }}
