## Directory tree

{{ path | MkTreeView | MkAdmonition }}

## SUMMARY.md content

{{ text | MkCode | MkAdmonition }}

It is always best to use annotations from the *closest* node.
(We could also have used the annotations from MKPage, but since this source code
is displayed by the MkCode node, we use that one.)
