MkNavs can parse index files in SUMMARY.md style (as popularized by mkdocs-literate-nav).

Given the following folder structure:

### Directory tree

{{ path | MkTreeView | MkAdmonition }}

and a root SUMMARY.md looking like:

### SUMMARY.md content

{{ text | MkCode | MkAdmonition(title="Root SUMMARY.md") }}

