The following config...

{{ config | MkCode(language="yaml") }}

Combined with this CLI call...

{{"mknodes build" | MkCode(language="terminal")}}

Will create this website:
{{ "https://phil65.github.io/mknodes/mkdocstrings" | MkLink(as_button=True, icon="web") }}
