[metadata]
name = "MkTabbedBlocks"
icon = "mdi:tab"

[requirements.extension."pymdownx.blocks.tab"]

[examples.regular]
title = "Regular"
jinja = """
{{ {"Tab 1": "Some markdown", "Tab 2": "Other Markdown"} | MkTabbedBlocks | MkReprRawRendered}}
"""

[examples.nested]
title = "Nested"
jinja = """
{% set node = {"Tab 1": "Some markdown", "Tab 2": "Other Markdown"} | MkTabbedBlocks | MkReprRawRendered %}
{{ {"Tabs": node, "Admonition": mk.MkAdmonition("Nested admonition")} | MkTabbedBlocks | MkReprRawRendered }}
"""

[output.markdown]
template = """
{% for item in node.items %}
{{ item }}
{% endfor %}
"""
