## {{ info.name }}

{{ info.description }}

{{ info.usage | MkCode }}

{% for param in info.params %}
### {{ param.opt_str }}

{% if param.required %}
"**REQUIRED**"
{% endif %}
{% if param.envvar %}
Environment variable{{ param.envvar }}
{% endif %}
{% if param.multiple %}
**Multiple values allowed.**
{% endif %}
{% if param.default %}
**Default:** {{ param.default }}
{% endif %}
{% if param.is_flag %}
{{ "mdi:flag" | MkMaterialBadge("Flag") }}
{% endif %}
{% if param.help %}
{{ param.help }}
{% endif %}


{% endfor %}

