[metadata]
icon = "mdi:square-medium"
status = "new"

[[resources.css]]
filename = "grid.css"

[examples.with_link]
title = "With link"
jinja = """
{{ "Title" | MkCard("https://picsum.photos/300", target="https://phil65.github.io/mknodes/") | MkReprRawRendered }}
"""

[examples.with_caption]
title = "With caption"
jinja = """
{{ "Title" | MkCard("https://picsum.photos/300", caption="Caption") | MkReprRawRendered }}
"""

[examples.dark_mode_image]
title = "Separate dark mode image"
jinja = """
{{ "Title" | MkCard("https://picsum.photos/300", path_dark_mode="https://picsum.photos/200") | MkReprRawRendered }}
"""

[output.html]
template = """
{% if node.url %}<a href="{{ node.url }}"{% endif %}
<div class="card">
  <div class="showcase-container">
    <img src="{{ node.image }}" alt="{{ node.title }}" style="width:{{ node.size }}px,height:{{ node.size }}px">
  </div>
  <p>
    <button>{{ node.title }}</button>
  </p>
</div>
{% if node.url %}</a>{% endif %}
"""
