[metadata]
name = "MkMetadataBadges"
icon = "simpleicon:shieldsdotio"
status = "new"

[requirements.package.anybadge]

[examples.classifiers]
title = "Classifiers"
jinja = """
{{ "classifiers" | MkMetadataBadges | MkReprRawRendered }}
"""

[examples.keywords]
title = "Keywords"
jinja = """
{{ "keywords" | MkMetadataBadges | MkReprRawRendered }}
"""

[examples.keywords_combined]
title = "Keywords combined"
jinja = """
{{ "keywords_combined" | MkMetadataBadges | MkReprRawRendered }}
"""

[examples.websites]
title = "Websites"
jinja = """
{{ "websites" | MkMetadataBadges | MkReprRawRendered }}
"""

[examples.dependencies]
title = "Dependencies"
jinja = """
{{ "dependencies" | MkMetadataBadges | MkReprRawRendered }}
"""

[examples.other_packages]
title = "For other packages"
jinja = """
{{ "dependencies" | MkMetadataBadges(package="mkdocs") | MkReprRawRendered }}
"""

[examples.gitlab]
title = "Gitlab style"
jinja = """
{{ "classifiers" | MkMetadataBadges(use_gitlab_style=True) | MkReprRawRendered }}
"""

[examples.colored]
title = "Colored"
jinja = """
{{ "required_python" | MkMetadataBadges(badge_color="red") | MkReprRawRendered }}
"""

# [output.markdown]
# template = """
# {% for label, value, link in node.badge_content %}
# {{ label | MkBadge(value=value, link=link, font_size=node.font_size, font_name=node.font_name, badge_color=node.badge_color, text_color=node.text_color, num_padding_chars=node.num_padding_chars, use_gitlab_style=node.use_gitlab_style, title=label) }}
# {% endfor %}
# """
