[metadata]
icon = "mdi:view-grid"
status = "new"
name = "MkGrid"

[examples.regular]
title = "Regular"
jinja = """
{% set item_1 = ["Item 1", "Item 2", "Item 3"] | MkList %}
{% set item_2 = ["Ctrl+A"] | MkKeys %}
{{ [item_1, item_2] | MkGrid }}
"""

# [output.markdown]
# template = """
# <div class="grid cards" markdown="1">

# {{ node.items | join }}
# </div>
# """
