[metadata]
icon = "mdi:code-json"

[requirements.extension."pymdownx.superfences"]
[requirements.extension."pymdownx.highlight"]
anchor_linenums = true
line_spans="__span"
pygments_lang_class = true


[examples."Default"]
jinja = """
By default, python syntax highlighting is used.

{{ "a = 1 + 2" | MkCode | MkReprRawRendered }}
"""

[examples."Syntax highlighting"]
jinja = """
{{ "var z = x + y;" | MkCode(language="js") | MkReprRawRendered }}
"""

[examples."Highlighting lines"]
jinja = """
{{ "1\n2\n3\n4" | MkCode(highlight_lines=[1, 3]) | MkReprRawRendered }}
"""

[examples."Line numbers"]
jinja = """
{{ "1\n2\n3\n4" | MkCode(linenums=10) | MkReprRawRendered }}

"""
