[metadata]
icon = "mdi:code-json"
name = "MkCode"

[requirements.extension."pymdownx.superfences"]
[requirements.extension."pymdownx.highlight"]
anchor_linenums = true
line_spans="__span"
pygments_lang_class = true


[examples.title]
title = "Default"
description = "By default, python syntax highlighting is used."
jinja = """
{{ "a = 1 + 2" | MkCode }}
"""

[examples.syntax_highlight]
title = "Syntax highlighting"
jinja = """
{{ "var z = x + y;" | MkCode(language="js") }}
"""

[examples.hl_lines]
title = "Highlighting lines"
jinja = """
{{ "1\n2\n3\n4" | MkCode(highlight_lines=[1, 3]) }}
"""

[examples.line_numbers]
title = "Line numbers"
jinja = """
{{ "1\n2\n3\n4" | MkCode(linenums=10) }}

"""

[output.markdown]
template = """
{{ node.fence_boundary }} {{ node.fence_title }}
{{ node.text }}
{{ node.fence_boundary }}
"""
