[metadata]
icon = "mdi:image-off"

[[resources.js]]
link = "https://unpkg.com/img-comparison-slider@7/dist/index.js"
defer = true

[[resources.css]]
filename = "https://unpkg.com/img-comparison-slider@7/dist/styles.css"


[examples.regular]
title = "Regular"
jinja = """
{{ "https://picsum.photos/700" | MkImageCompare(after_image="https://picsum.photos/701") | MkReprRawRendered }}
"""

[output.html]
template = """
<img-comparison-slider>
  <img src="{{ node.before }}" slot="first">
  <img src="{{ node.after }}" slot="second">
</img-comparison-slider>
"""
