{% extends "classpage.md" %}
{% block content %}

{% if cls | hasattr("REQUIRED_EXTENSIONS") and cls.REQUIRED_EXTENSIONS %}
{{ "Required Extensions:" | MkHeader(level=4) }}

{% for i in cls.REQUIRED_EXTENSIONS %}

{{ i | styled(code=True) }}

{% endfor %}

{% endif %}

{{ super() }}

{% endblock %}
