{% extends "classpage.md" %}
{% block content %}

{% if cls | hasattr("nodefile") and cls.nodefile %}
{{ "Examples" | MkHeader }}

{% for k, v in cls.nodefile.get_examples(node).items() %}
{{ ("Example: " ~ k | styled(bold=True)) | MkHeader(level=3) }}
{{ v.pop("Jinja") | MkAdmonition(title="Jinja", typ="jinja") }}
{{ v.pop("Repr") | MkAdmonition(title="Python", typ="python") }}
{{ v | MkTabbed }}
{% endfor %}

{% endif %}

{{ super() }}

{% endblock %}
