[metadata]
icon = "octicon:info-16"
name = "MkHtmlBlock"

[requirements.extension."pymdownx.blocks.details"]


[examples.regular]
title = "Regular"
jinja = """
{{ "Different types." | MkHtmlBlock("div") | MkReprRawRendered }}
"""

[output.markdown]
template = """
{{ node.fence_boundary }} html{% if node.argument %}{{ node.argument | add(prefix=' | ')}}{% endif %}
{{ node.attributes_block }}
{{ node.content_block }}
{{ node.fence_boundary }}

"""
