[metadata]
icon = "mdi:library"
name = "MkDefinitionList"

[requirements.extension.def_list]

[examples.regular]
title = "Regular"
jinja = """
{{ {"something": "A definition", "something_else": "Another\ndefinition"} | MkDefinitionList }}
"""

[examples.nested]
title = "Nested markdown"
jinja = """
{{ {"something": "A definition", "something_else": ("Nested" | MkAdmonition)} | MkDefinitionList }}
"""

# [output.markdown]
# template = """
# {% for k, v in node.data.items() %}
# {{ k }}
# :   {{ v | string | indent }}

# {% endfor %}
# """
