[metadata]
icon = "octicon:table-24"
name = "MkClassTable"

[requirements.extension.tables]

[examples.compact]
title = "Compact layout"
jinja = """
{{ [_mk.MkTable, _mk.MkClassTable, _mk.MkNav] | MkClassTable(layout="compact") }}
"""

[examples.extended]
title = "Extended layout"
jinja = """
{{ [_mk.MkTable, _mk.MkClassTable, _mk.MkNav] | MkClassTable(layout="default") }}
"""

[layouts.compact]
Class = """
{{ kls | get_link }}
"""
Module = """
{{ kls.__module__ }}
"""
Description = """
{{ kls | get_doc(only_summary=True) }}
"""

[layouts.default]
Name = """
{{ kls | get_link | styled(size=4, bold=True) }}<br>{{ kls.__module__ | styled(size=1, italic=True) }}<br>{{ kls | get_doc(escape=True, only_summary=True) }}
"""
Children = """
<ul>{% for sub in classhelpers.list_subclasses(kls, recursive=False) %}
<li>{{ sub | get_link }}</li>{% if loop.index > 10 %}<li>...</li>{% break %}{% endif %}{% endfor %}</ul>
"""
Inherits = """
<ul>{% for base_kls in classhelpers.list_baseclasses(kls, recursive=False) %}
<li>{{ base_kls | get_link }}</li>{% if loop.index > 10 %}    <li>...</li>{% break %}{% endif %}{% endfor %}</ul>
"""
