[metadata]
icon = "mdi:library"
name = "MkTaskList"

[requirements.extension."pymdownx.tasklist"]

[examples.regular]
title = "Regular"
jinja = """
{{ [_mk.MkTask(True, "Item 1"), _mk.MkTask(True, "Item 2")] | MkTaskList }}
"""

[fragments]
task = """
- [{{ "x" if node.value else " " }}] {{ node.get_items() | join(node.block_separator) | indent }}

"""

[output.markdown]
template = """
{{ node.get_items() | join(node.block_separator) }}
"""
